*{
  padding:0;
  margin:0;
  font-family:sans-serif;
  text-align:center;
}
.navbar{
  width:100%;
  height:48px;
  background-color:black;
  line-height:48px;
  vertical-align:center;
}
.navbar ul, .navbar li{
  display:inline;
  margin-left:20px;
  margin-right:20px;
}
.navbtn{
  color:white;
  text-decoration:none;
  transition:.3s;
}
.navbtn:hover{
  color:blue;
}
.bannerholder{
  display:table;
  width:100%;
  height:480px;
  background-attachment:fixed;
  background-color:cover;
  background-position:center;
  background-repeat:none;
}
.banner{
  display:table-cell;
  vertical-align:middle;
  margin-left:20px;
  margin-right:20px;
  color:white;
}
.content{
  width:80%;
  margin:auto;
  padding-top:100px;
  padding-bottom:100px;
}
